<div class="page-header">
  <h1>分组</h1>
</div>
<table class="table table-striped">
  <tbody id="productsTable">
    <% @lunch_groups.each_index do |index| %>
      <tr>
        <td>食家&nbsp;<%= (index+1) %>&nbsp;组</td>
        <td>
          <% @lunch_groups[index].each do |user| %>
            <img src="<%= user["avatar"] %>" style="width: 44px; height: 44px">&nbsp;<%= user["name"] %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "返回", users_path, :class => 'btn btn-primary' %>
